@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


.header{
  width: 100%;
  height: 110px;
 
  background-color: #94618E;
  
}
.header-title{
  font-family: 'Dancing Script', cursive;
  margin: 20px 20px 20px 20px;
}

.tabs .tab a {
  color: #49274A !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: #94618E !important;
}


#navbar {
  background-color: #49274A;
  z-index: 99;
}

.dropdown-trigger{
  outline: none !important;
}

.add-to-cart {
 background: #94618E !important;
}

.custom-footer {
 background: #49274A !important;
}

.collection-item > .title {
  color: #49274A;
}

.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #6394F8;
}





body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  body {
  font: 14px/22px "Lato", Arial, sans-serif;
  background-color: #F8EEE7;
}